body {
  margin: 0;
  padding: 0;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

a
{
  text-decoration: none;
  color: var(--color-white);
}

a:hover
{
  color: #8BD8BD;
}

.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1657.46px;
  height: 1024px;
  object-fit: cover;
}

.home-child,
.home-item {
  position: absolute;
  left: 0;
  width: 100%;
}

.home-child {
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 1024px;
}

.home-item {
  top: 48px;
  background-color: var(--color-darkslateblue);
  height: 56px;
}

.rising-together-to,
.we-aim-to {
  position: absolute;
  display: inline-block;
}

.we-aim-to {
  top: 510px;
  left: 720px;
  font-size: 32px;
  text-align: justify;
  width: 690px;
}

.rising-together-to {
  top: 321px;
  left: 150px;
  font-size: 60px;
  width: 1139px;
  height: 77px;
}

.get-immediate-help {
  position: absolute;
  top: 554px;
  left: 138px;
}

.sos {
  position: relative;
}

.sos-wrapper {
  position: absolute;
  top: 613px;
  left: 138px;
  border-radius: var(--br-md);
  background-color: #fd3f3f;
  width: 335px;
  height: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 41px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.sos-wrapper:hover {
  background: transparent;
  color: white;
  border: 2px solid #fd3f3f;
  cursor: pointer;
}

.doctor-assistance {
  position: relative;
  align-items: flex-end;
  width: 235px;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
}

.doctor-assistance-wrapper,
.precautions-parent,
.volunteer-parent {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.doctor-assistance-wrapper {
  top: 704px;
  left: 138px;
  border-radius: var(--br-md);
  background-color: var(--color-darkslateblue);
  width: 335px;
  height: 75px;
  font-size: 25px;
  cursor: pointer;
}

.doctor-assistance-wrapper:hover
{
  background-color: transparent;
  border: 4px solid white;
}

.precautions-parent {
  top: 0;
  left: 20px;
  background-color: var(--color-gray-100);
  width: 453px;
  height: 56px;
  padding: 16px 47px;
  box-sizing: border-box;
  gap: var(--gap-md);
  font-size: var(--font-size-base);
}

.volunteer-parent {
  right: 20px;
  padding: 10px;
  top: 0;
  background-color: var(--color-gray-100);
  width: 453px;
  height: 56px;
  box-sizing: border-box;
  gap: var(--gap-md);
  font-size: var(--font-size-base);
}

.image-2-icon {
  position: relative;
  width: 92px;
  height: 44.25px;
  flex-shrink: 0;
  object-fit: cover;
}
.aqua-relief,
.image-2-parent {
  display: flex;
  align-items: center;
}
.aqua-relief {
  position: relative;
  width: 258px;
  height: 90px;
  flex-shrink: 0;
}
.image-2-parent {
  position: absolute;
  top: 149px;
  left: 510px;
  background-color: var(--color-gray-100);
  width: 420px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 35px;
  box-sizing: border-box;
  justify-content: center;
  gap: 11px;
  font-size: 48px;
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inika);
}
